body {
    background-color: rgb(39, 39, 39);
}

/* text */

h1 {
    color: rgb(153, 81, 201);
    font-size: 30px;
    font-family: 'Spectral', serif;
    text-align: center;
}

h1.bigtext {
    color: rgb(115, 0, 192);
    font-family: 'Exo 2', sans-serif;
    font-size: 60px;
}

h2, h4, p {
    font-family: 'Spectral', serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

.center {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

/* end of text */

/* columns */

.column3 {
    float: left;
    width: 33.33%;
}
.row3:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* end of columns */

/* a link decoration */

a.link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;
    z-index: 1;
}
  
a.link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: .07em;
    height: .2em;
    width: 100%;
    background: linear-gradient(110deg, rgb(225, 245, 73), rgb(41, 208, 190), rgb(108, 184, 234), rgb(255, 89, 89));
    z-index: -1;
    transition: height .25s cubic-bezier(.6,0,.4,1);
}
  
a.link:hover::after {
    height: .3em;
}

.button {
    background-color: rgb(105, 0, 175);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: rgb(82, 0, 136);
}

/* end of a link decoration */

div.game {
    display: inline-block;
}

img.gameimg {
    width: 200px;
    height: 150px;
}

a {
    text-decoration: none;
}

/* Media */
@media screen and (max-width: 680px) {
    h1 {
        font-size: 25px;
    }

    h1.bigtext {
        font-size: 40px;
    }

    .column3 {
      width: 100%;
    }

    .column {
        width: 100%;
    }

    img.gameimg {
        width: 100px;
        height: 70px;
    }
}

/* Animations */
