/* Main Website */
body {
    background-color: rgb(9, 12, 36);
}

section {
	margin-bottom: 40px;
}

h1, h2 {
    color: rgb(83, 53, 74);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    font-size: 32px;
}
h2 {
    font-size: 26px;
}
h3 {
    color: rgb(166, 73, 66);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    font-size: 24px;
}
h4 {
    color: rgb(223, 112, 104);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    font-size: 16px;
}
p {
    color: rgb(255, 120, 68)
}
.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.logo {
    width: 96px;
    height: 96px;
}

.column {
    float: left;
    width: 33.33%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Links */
a {
    text-decoration: none;
    color: rgb(255, 120, 68);
    width: max-content;
    margin: 0 auto;
}
a:hover {
    color: rgb(218, 90, 40)
}

/* Game */
div.game {
    position: relative;
}
img.game {
    position: absolute;
    left: 50%;
}
a.os {
    font-size: 16px
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px;
}
  
nav a {
    color: #fff;
    text-decoration: none;
}

.social {
    font-size: 16px;
}
  
.left-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.left-menu li {
    margin-right: 20px;
}
  
.right-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.right-menu li {
    margin-left: 20px;
}