body {
  background-color: rgb(34, 34, 34);
}

.center {
  text-align: center;
}

.centerer {
  text-align: center;
}

a {
  text-decoration: none;
}

h1 {
  color: rgb(95, 212, 228);
  font-size: 30px;
  font-family: 'Spectral', serif;
}

h2.notready {
  border: 5px solid rgb(238, 8, 0);
  font-size: 25px;
  color: rgb(238, 8, 0);
}

/* Cards Menu */

.card {
  width: 64px;
  height: 86px;
  transition: transform .2s;
}

.card:hover {
  transform: scale(1.5);
}

.cardHome {
  transform: rotateY(0deg) rotate(-30deg);
}

.cardHome:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(255, 243, 0, 0.67);
  -moz-box-shadow: 0px 0px 30px 0px rgba(255, 243, 0, 0.67);
  box-shadow: 0px 0px 30px 0px rgba(255, 243, 0, 0.67);
}

.cardAbout:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(172, 50, 50, 0.67);
  -moz-box-shadow: 0px 0px 30px 0px rgba(172, 50, 50, 0.67);
  box-shadow: 0px 0px 30px 0px rgba(172, 50, 50, 0.67);
}

.cardShots {
  transform: rotateY(0deg) rotate(30deg);
}

.cardShots:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(99, 155, 255, 0.67);
  -moz-box-shadow: 0px 0px 30px 0px rgba(99, 155, 255, 0.67);
  box-shadow: 0px 0px 30px 0px rgba(99, 155, 255, 0.67);
}


/* Media */

@media screen and (max-width: 680px) {
  h1 {
    font-size: 25px;
  }

  h2.notready {
    font-size: 17px;
  }

  .card:hover {
    transform: scale(1.3);
  }
}